.DS_Store
# editor files
*.swp
*.iml
.idea

# compilation objects
target/
.project
.settings/
.classpath
dependency-reduced-pom.xml
*.class
collector/bin
jmx_prometheus_httpserver/bin
jmx_prometheus_javaagent/bin
